@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Merriweather&family=Nunito:wght@400;600;700&display=swap');
@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Product Sans"),
        url("../fonts/ProductSans-Regular.woff") format("woff");
}
.login-text {
    font-family: "Merriweather", serif;
}
.background {
  background: url("../images/bg-pattern.png")  center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.brand-text {
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Nunito", serif;
}
.welcome-text {
    font-weight: 400;
    font-family: "Merriweather", serif;
}
.form-group__icon {
    position: relative;
}

.form-group__icon svg {
    position: absolute;
    margin: 11px 0px 0px 10px;
    color: #666;
}

.form-group__icon:before {
    position: absolute !important;
    content: "";
    top: 11px;
    height: 24px;
    border-right: 1px solid #e6e6e6;
    left: 41px;
}

.form-group__icon .form-control {
    padding-left: 53px;
}

.form-group__icon .form-control::-webkit-input-placeholder {
    color: #a8a8a8;
}

.form-group__icon .form-control::-moz-placeholder {
    color: #a8a8a8;
}

.form-group__icon .form-control:-ms-input-placeholder {
    color: #a8a8a8;
}

.form-group__icon .form-control::placeholder {
    color: #a8a8a8;
}
.form-control {
    background-color: #fbfbfb;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

/* .form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border-color: #da2b2b;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075), 0 0 0 0.2em rgba(224, 88, 88, .3);
} */
.username,
.email,
.password {
    height: 45px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left !important;
}
.card-box h3 {
    text-transform: capitalize;
}
.text-blowing {
    background-color: white;
    color: #007bff;
    padding: 0px 13px 0px 13px;
    border-radius: 0.5rem;
}
/* .datepicker {
    padding: 10px !important;
}
.datepicker td,
.datepicker th {
    width: 30px;
    height: 30px;
}
.datepicker table tr td .active.disabled:hover[disabled],
.datepicker table tr td .active.disabled[disabled],
.datepicker table tr td .active:active,
.datepicker table tr td .active:hover,
.datepicker table tr td .active:hover.active,
.datepicker table tr td .active:hover.disabled,
.datepicker table tr td .active:hover:active,
.datepicker table tr td .active:hover:hover,
.datepicker table tr td .active:hover[disabled],
.datepicker table tr td .active[disabled],
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled],
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #1abc9c !important;
    background-image: none !important;
    color: #fff;
}
.datepicker table tr td span.focused,
.datepicker table tr td span:hover,
.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background: #f7f7f7;
}
.datepicker table tr td span.new,
.datepicker table tr td span.old,
.datepicker table tr td.new,
.datepicker table tr td.old {
    color: #6c757d;
    opacity: 0.4;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #f7f7f7;
}
.datepicker .datepicker-switch:hover {
    background: 0 0;
}
.datepicker-dropdown:after {
    border-bottom: 6px solid #fff;
}
.datepicker-dropdown:before {
    border-bottom-color: #e7eef1;
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid #e7eef1;
}
.datepicker-dropdown.datepicker-orient-top:after {
    border-top: 6px solid #fff;
}
.datepicker-inline {
    border: 2px solid #f1f5f7;
} */
/* .jumbotron {
	background-color: #e66964;
	border-radius: 0rem;
    position: relative;
    background-color: #007bff;
    background-image: url('../images/bg-jumbotron.svg'),linear-gradient(45deg,#58a4f7,#58a4f7);
    background-size: cover;
    z-index: 0;
} */
/* .btn-blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-blue:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-blue.focus,
.btn-blue:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-blue.disabled,
.btn-blue:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-blue:not(:disabled):not(.disabled).active,
.btn-blue:not(:disabled):not(.disabled):active,
.show>.btn-blue.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}

.btn-blue:not(:disabled):not(.disabled).active:focus,
.btn-blue:not(:disabled):not(.disabled):active:focus,
.show>.btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}
.btn-primary {
    color: #fff;
    background-color: #da2b2b;
    border-color: #da2b2b
}

.btn-primary:hover {
    color: #fff;
    background-color: #b42323;
    border-color: #b42323
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #d90000;
	border-color: #d90000;
    -webkit-box-shadow: 0 0 0 .2rem rgba(224, 88, 88, 0.5);
    box-shadow: 0 0 0 .2rem rgba(224, 88, 88, 0.5)
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #da2b2b;
    border-color: #da2b2b
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #da2b2b;
    border-color: #da2b2b
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(224, 88, 88, 0.5)
}
.btn-success {
	color: #fff;
	background-color: #2bc3a5;
	border-color: #2bc3a5
}

.btn-success:hover {
	color: #fff;
	background-color: #24a48a;
	border-color: #229982
}

.btn-success.focus,
.btn-success:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(75, 204, 179, .5);
	box-shadow: 0 0 0 .2rem rgba(75, 204, 179, .5)
}

.btn-success.disabled,
.btn-success:disabled {
	color: #fff;
	background-color: #2bc3a5;
	border-color: #2bc3a5
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #229982;
	border-color: #1f8f79
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(75, 204, 179, .5);
	box-shadow: 0 0 0 .2rem rgba(75, 204, 179, .5)
}


.btn-info {
	color: #fff;
	background-color: #37cde6;
	border-color: #37cde6
}

.btn-info:hover {
	color: #fff;
	background-color: #1bc0db;
	border-color: #1ab6d0
}

.btn-info.focus,
.btn-info:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(85, 213, 234, .5);
	box-shadow: 0 0 0 .2rem rgba(85, 213, 234, .5)
}

.btn-info.disabled,
.btn-info:disabled {
	color: #fff;
	background-color: #37cde6;
	border-color: #37cde6
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #1ab6d0;
	border-color: #19acc5
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(85, 213, 234, .5);
	box-shadow: 0 0 0 .2rem rgba(85, 213, 234, .5)
}

.btn-danger {
	color: #fff;
	background-color: #f64f69;
	border-color: #f64f69
}

.btn-danger:hover {
	color: #fff;
	background-color: #f42b4a;
	border-color: #f41e40
}

.btn-danger.focus,
.btn-danger:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(247, 105, 128, .5);
	box-shadow: 0 0 0 .2rem rgba(247, 105, 128, .5)
}

.btn-danger.disabled,
.btn-danger:disabled {
	color: #fff;
	background-color: #f64f69;
	border-color: #f64f69
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #f41e40;
	border-color: #f31235
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 .2rem rgba(247, 105, 128, .5);
	box-shadow: 0 0 0 .2rem rgba(247, 105, 128, .5)
} 
.custom-control-input:checked~.custom-control-label::before {
    color: #da2b2b;
    border-color: #da2b2b;
    background-color: #da2b2b
}

.custom-control-input:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #f5f6f8, 0 0 0 .2rem rgba(218, 59, 59, 0.25);
    box-shadow: 0 0 0 1px #f5f6f8, 0 0 0 .2rem rgba(218, 59, 59, 0.25)
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #80bdff
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff
}
.nav-pills .nav-link:not(.active):hover {
    color: #dc3545
}
*/
